*{
    padding: 0;
    margin: 0;
}

.biao h1{
    position: absolute;
    left: 150px;
    top: 30px;

}
img {
    position: absolute;
    left:35px;
    width:85px;
    top: 9px;
    border-radius: 10px ;
    z-index: 2;
}
.biao h1{
    color: #f8dba3;
    z-index: 2;

}
header a{
    color: #f8dba3;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}
header li{
    display: inline;
    margin: 2vw;
    
}
header ul{
    z-index: 2;
    position: absolute;
    right:5vw;
    top:0;
    line-height: 90px;
    font-size: 20px;



}
header ul li{
    border: 1px solid #f3f3f3;
    padding: 10px 20px;
    border-radius: 10px;
}
.hero{


    color: #faf37a;
    height:100vh;
    background-image: url("image/back.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.hero h1{
font-size: 50px;
    margin: 25px 0;
}
.hero h2{
    font-size: 30px;
    margin: 25px 0;
}
footer{
    background-color: #57f4d1;
    color: #a8fb3e;
    height:5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}